.navbar-custom{
    background-color: white;
}
.text-custom{
    color: purple;
}

.logo, .logo:hover, .logo:focus, .logo:active {
      text-decoration: none;
      color: inherit;
 }
  body {
     background-image: url(bg.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
 }
  .button {
  color: purple;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid purple;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.button:hover {
  color: white;
}

.button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: purple;
  z-index: -1;
  transition: all 1s;
}

.button:hover::before {
  width: 160%;
}
