@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar-custom{
    background-color: white;
    opacity: 0.85;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
}
.text-custom{
    color: purple;
}
.homebox{
    opacity: 0.9;
    background-color: white;
}
.homepara, homehead{
    color: purple;
}
.custom-btn{
    color: white;
    background-color: purple;
    opacity: 0.9;
}
.custom-btn:hover{
    color: white;
    background-color: #ED8EFF;
}
.card-custom{
    background-color: white;
    opacity: 0.85;
    color: black;
}
.logo, .logo:hover, .logo:focus, .logo:active {
      text-decoration: none;
      color: inherit;
      font-family: "Poppins", sans-serif;
      font-weight: 800;
 }
  body {
     padding-top: 0.6rem;
     background-image: url(bg.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
 }
  .button {
  color: purple;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid purple;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.button:hover {
  color: white;
}

.button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: purple;
  z-index: -1;
  transition: all 1s;
}

.button:hover::before {
  width: 160%;
}
