{% extends "index.html" %}
{% block content %}
    <div class="about">
        <h3>About Developer</h3>
        <p>Hi, I’m Mudasir Ahmed, an undergraduate student at Mehran University of Engineering and Technology (MUET)<br> with a strong passion for Python and backend development.<br> I enjoy building scalable and efficient web applications using Flask, and <br>I’m constantly exploring ways to write clean, maintainable code.<br> Alongside backend development, I’m an aspiring data scientist, driven by curiosity for data, analytics, <br>and problem-solving. I love learning new technologies, experimenting with ideas, <br>and growing as a developer by turning concepts into real-world solutions.</p>
        <h5>Social Links:</h5>
        <div class="socials">
              <a href="https://www.instagram.com/mud_asir7k/"><i class="bi bi-instagram social-icons"></i></a>
              <a href=""><i class="bi bi-tiktok social-icons"></i></a>
              <a href=""><i class="bi bi-facebook social-icons"></i></a>
              <a href="https://www.linkedin.com/in/mudasir-ahmed-7b22b3320/"><i class="bi bi-linkedin social-icons"></i></a>
              <a href="https://github.com/Mudassir-Ahmed-git"><i class="bi bi-github social-icons"></i></a>
          </div>
    </div>
{% endblock %}